.main_container {
    margin: auto;
    width: 500px;
    color: black;
    background-color: white;
    border: 1px solid red;
}
.my-5 {
    margin-top: 65px;
}
.btns {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}